### 전국어린이보호구역표준데이터
- 시설 종류별 CCTV 설치 여부 카운트 / 대수
- 광역시도별, 시설종류별 카운트
- 관할경찰서별 CCTV 관리대수
- CCTV 평균 설치대수
- 도로폭 / CCTV 설치대수 상관도

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd_rawdata = pd.read_csv('전국어린이보호구역표준데이터.csv', encoding = 'cp949')
# EDA : Exploratory Data Analysis
column_selection = ['시설종류', '관할경찰서명', 'CCTV설치여부', 'CCTV설치대수', '제공기관명']
# print(pd_rawdata.columns)
pd_data = pd_rawdata[column_selection]
del pd_rawdata

In [20]:
# print(pd_data.columns)
# print(pd_data.dtypes)
pd_data['시설종류'] = pd_data['시설종류'].astype('category')
pd_data['CCTV설치여부'] = pd_data['CCTV설치여부'].astype('category')
print(pd_data.shape)
pd_data.describe(include = 'all')

(15056, 5)

         시설종류 관할경찰서명 CCTV설치여부      CCTV설치대수  제공기관명
count   15056  15056    15056  11682.000000  15056
unique     10    262        2           NaN    225
top      초등학교  서부경찰서        Y           NaN   경상남도
freq     6965    299    11687           NaN    759
mean      NaN    NaN      NaN      2.586543    NaN
std       NaN    NaN      NaN      2.937831    NaN
min       NaN    NaN      NaN      0.000000    NaN
25%       NaN    NaN      NaN      1.000000    NaN
50%       NaN    NaN      NaN      2.000000    NaN
75%       NaN    NaN      NaN      3.000000    NaN
max       NaN    NaN      NaN     46.000000    NaN

In [22]:
# 결측지 확인

# print(pd_data.shape)
# print(pd_data.describe(include = 'all'))

for e in pd_data:
    print(e, pd_data[e].hasnans)
    if pd_data[e].hasnans:
        print(pd_data[e].isna().value_counts())

시설종류 False
관할경찰서명 False
CCTV설치여부 False
CCTV설치대수 True
False    11682
True      3374
Name: CCTV설치대수, dtype: int64
제공기관명 False

In [ ]:
def myfn1(x):
    if type(x) == type(' '):
        if '~' in x:
            m = np.array(x.split('~')).mean()
            return str(m)
    if x == np.NaN:
        return x
    elif type(x) == type(1.0):
        return x

pd_data['보호구역도로폭'].apply(myfn1)
print(pd_data)