In [4]:
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt

pd_rawdata = pd.read_csv('전국일방통행도로표준데이터.csv', encoding='cp949')
# print(pd_rawdata.columns)
column_selection = ['시도명', '지정사유', '지정연도', '도로폭', '도로차로수', '보차분리여부']
pd_data = pd_rawdata[column_selection]
pd_data

        시도명  지정사유  지정연도  도로폭  도로차로수 보차분리여부
0       경기도   NaN   NaN  5.0    1.0      Y
1       경기도   NaN   NaN  5.0    1.0      Y
2       경기도   NaN   NaN  9.0    1.0      Y
3       경기도   NaN   NaN  4.0    1.0      Y
4       경기도   NaN   NaN  4.0    1.0      Y
...     ...   ...   ...  ...    ...    ...
2154    경기도  통행원활   NaN  6.0    1.0      N
2155    경기도  통행원활   NaN  6.0    1.0      N
2156    경기도  통행원활   NaN  6.0    1.0      N
2157    경기도  통행원활   NaN  6.0    1.0      N
2158  서울특별시   NaN   NaN  9.5    1.0      N

[2159 rows x 6 columns]

In [6]:
print(pd_data.columns)
print(pd_data.dtypes)
print(pd_data.shape)
print(pd_data.describe(include = 'all'))

Index(['시도명', '지정사유', '지정연도', '도로폭', '도로차로수', '보차분리여부'], dtype='object')
시도명        object
지정사유       object
지정연도      float64
도로폭       float64
도로차로수     float64
보차분리여부     object
dtype: object
(2159, 6)
          시도명              지정사유         지정연도          도로폭        도로차로수 보차분리여부
count    2159               592   550.000000  2159.000000  2158.000000   2159
unique     13                31          NaN          NaN          NaN      3
top     서울특별시  차량소통 촉진 및 보행자 안전          NaN          NaN          NaN      N
freq      755               165          NaN          NaN          NaN   1657
mean      NaN               NaN  2006.456364     5.917508     1.101483    NaN
std       NaN               NaN     8.160330     2.297448     1.319722    NaN
min       NaN               NaN  1990.000000     2.000000     1.000000    NaN
25%       NaN               NaN  1999.000000     4.000000     1.000000    NaN
50%       NaN               NaN  2002.000000     6.000000     1.000000    NaN
75%       NaN               NaN  2016.000000     7.000000     1.000000    NaN
max       NaN               NaN  2022.000000    32.000000    60.000000    NaN

In [7]:
print(pd_data['시도명'].isna().value_counts())

pd_data.replace({})

False    2159
Name: 시도명, dtype: int64