In [4]:
import numpy as np
import pandas as pd
import requests

iris_df = pd.read_csv('iris.data', header = None)
print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
s1 = pd.Series(list('iris.data'))
print(s1)
print(type(iris_df), type(s1))

0    i
1    r
2    i
3    s
4    .
5    d
6    a
7    t
8    a
dtype: object
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [13]:
s2 = pd.Series([1, 1.0, 'a'])
s3 = pd.Series([x for x in range(10, 20)])
# print(s3)
# print(s3[3])
# print(s3[3:8:2])
# print(s3[[3, 7, 9]])
print(s3[s3 > 15])

6    16
7    17
8    18
9    19
dtype: int64

In [15]:
print(s3.ndim)
print(s3.dtype)
print(s3.shape)

1
int64
(10,)

In [16]:
s3_np = s3.to_numpy()
print(s3_np, type(s3_np))

[10 11 12 13 14 15 16 17 18 19] <class 'numpy.ndarray'>

In [19]:
print(s3 * 3)

0    30
1    33
2    36
3    39
4    42
5    45
6    48
7    51
8    54
9    57
dtype: int64

In [29]:
### df

s1 = pd.Series([x for x in range(10, 20)])
s2 = pd.Series([x for x in range(100, 120)])
s3 = pd.Series(list('abcdefghijk'))
df1 = pd.DataFrame({'a' : s1, 'b' : s2, 'c' : s3})
# print(df1)
# print(df1['b'])    # key값을 줘서 찾을 수 있음
# print(df1[['a', 'b']])
print(df1[2:5])

      a    b  c
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e

In [31]:
print(df1.head())    # 맨 상위 5개
print(df1.tail())    # 맨 하위 5개

      a    b  c
0  10.0  100  a
1  11.0  101  b
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e
     a    b    c
15 NaN  115  NaN
16 NaN  116  NaN
17 NaN  117  NaN
18 NaN  118  NaN
19 NaN  119  NaN

In [41]:
# print(df1)
# print(df1.loc[:, 'a'])    # loc: location
# print(df1.loc[3:10, ['a', 'c']])
print(df1.iloc[3:10, [0, 2]])    # int만 받기 때문에, 0번 인덱스면 'a'...

      a  c
3  13.0  d
4  14.0  e
5  15.0  f
6  16.0  g
7  17.0  h
8  18.0  i
9  19.0  j